*.idea/*
*/.idea/*
*.bak
*/AppendLogs/*
*/data*/*
data/*
*/dbinfo.py
*/dbinfo.pyc
*.pyc
DreamHost-midStream/*.csv
DreamHost-midStream/*.sql
SWRCSensors/SWRCSensors/keys.py
*.ffs_db
sync.ffs_db
dbinfo.py
Aquarius/wintab32dll.txt
